{% load static %}
<div class="container">
    <div id="about" class="row mt-5">
        <div class="col-md-12 font-weight-bold clear">About</div>
        <div class="col-md-12 mt-3">
            <div class="section-text font-weight-light">
                The Onion Router (TOR) project aims to hide users' IP and protect their privacy related to location and
                Internet usage.
                Beside, users are able to create hidden services which are accessible through Onion addresses.
                Unlike the normal Internet, in which list of all domains are reachable through TLDs (Top Level Domains),
                Onion addresses can not be listed, nor TOR does not want to list them.
                Onion Harvester tries to find the updated list of all Onion addresses which are accessible through TOR.
                <br/>
                This project uses volunteer clients all over the world to list the addresses. The project is made of
                two main sub-projects:
                <ul>
                    <li> Onion Harvester Server</li>
                    <li> Onion Harvester Clients</li>
                </ul>
                The client for harvesting Onion addresses is available <a href="https://github.com/mirsamantajbakhsh/OnionHarvester" target="_blank">here</a>.
                <br/>
                When clients connect to this server, they will receive:
                <ol>
                    <li> Unique ID </li>
                    <li> Start and End Onion addresses</li>
                    <li> Scanning ports</li>
                    <li> Timeout</li>
                </ol>
                Then they will check all addresses in the provided range for specific ports on TOR network
                and will return search results in a json format including valid Onion addresses, their ports and the time of scan.
                <br/>
                The server can show online searches and top 15 results got from clients that can
                be seen on the <a href="/dispatcher/result">Results</a> page.
            </div>
        </div>
    </div>
    <div id="contact" class="row mt-3">
        <div class="col-md-12 font-weight-bold">Contact</div>
        <div class="col-md-12 mt-3">
            <p class="section-text font-weight-light">
                OnionHarvester main developer: <a href="https://mstajbakhsh.ir" target="_blank">Mir Saman Tajbakhsh</a>
                <br>
                OnionHarvester-Server main developer: <a href="https://github.com/mohammadnassiri" target="_blank">Mohammad Nassiri</a>
            </p>
        </div>
    </div>
    <div id="contact" class="row mt-3">
        <div class="col-md-12 font-weight-bold">Donate</div>
        <div class="col-md-12">
            <div class="row mt-3">
                <div class="col-md-2 text-image">
                    <img src="{% static 'images/bitcoin.png' %}" title="bitcoin" alt="bitcoin">
                </div>
                <div class="col-md-10 section-text font-weight-light">
                    <i class="fa fa-coffee"></i>Buy me a cup of coffee for the project maintenance:
                    <br>
                    My Bitcoin Address:
                    <br>
                    <span class="font-weight-bold">14CGyrFdV1tuWqrp78FuHmhk9uXFgha6RJ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer center">OnionHarvester-Server @ 2018</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Font awesome -->
<script src="https://use.fontawesome.com/9f6c988576.js"></script>

<script src="{% static 'js/custom.js' %}"></script>