{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Web server for distributing search options among Onion Harvesters.">
<meta name="author" content="Mohammad Nassiri">

<title>Onion Harvester Server - Beta</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<link rel="icon" href="{% static 'images/favicon.png' %}">
