{% extends 'partial/master.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="font-weight-bold mt-5 mb-2">Top 50 submitted address ranges</div>
                <table class="table table-striped font-weight-light">
                    <thead>
                        <tr>
                            <th class="text-info font-weight-light"><i class="fa fa-id-badge"></i> Client ID</th>
                            <th class="text-info font-weight-light"><i class="fa fa-play-circle-o"></i> Start address range</th>
                            <th class="text-info font-weight-light"><i class="fa fa-stop-circle-o"></i> End address range</th>
                            <th class="text-info font-weight-light"><i class="fa fa-hourglass-half"></i> Timeout</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pool in pools %}
                        <tr style="color: {{ pool.color }}" class="pool">
                            <td>{{ pool.client_id }}</td>
                            <td>{{ pool.address_range_start }}</td>
                            <td>{{ pool.address_range_end }}</td>
                            <td class="timeout">{{ pool.dis_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="timeout" class="text-info font-weight-light">Timeout is: {{ timeout }} minutes</div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 mt-5">
                    <div class="card">
                        <div class="card-header text-info font-weight-light">
                            <i class="fa fa-id-badge"></i> # of online clients
                        </div>
                        <div class="card-body">
                            <div class="card-text font-weight-light">
                                {{ clients }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header text-info font-weight-light">
                            <i class="fa fa-barcode"></i> # of scanning ranges
                        </div>
                        <div class="card-body">
                            <div class="card-text font-weight-light">
                                {{ address_ranges }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header text-info font-weight-light">
                            <i class="fa fa-check"></i> # of valid addresses
                        </div>
                        <div class="card-body">
                            <div class="card-text font-weight-light">
                                {{ valid_addresses }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="row mt-5">
            <div class="col-md-12 font-weight-bold clear">About</div>
            <div class="col-md-12">
                <p class="section-text font-weight-light">
                    The server for generating search options for OnionHarvester's project explained <a href="https://github.com/mirsamantajbakhsh/OnionHarvester">here</a>.
                    <br/>
                    Clients that connect to this server will get start and end onion address, scanning ports and timeout.
                    <br/>
                    Then they will check all addresses in the provided range for specific ports on TOR network
                    and will return search results in a json format including valid onion addresses, their ports and time of scan.
                    <br/>
                    The server can show online searches and top 15 results got from clients that you can
                    see them on the Results tab.
                </p>
            </div>
        </div>
        <div id="contact" class="row mt-3">
            <div class="col-md-12 font-weight-bold">Contact</div>
            <div class="col-md-12">
                <p class="section-text font-weight-light">
                    OnionHarvester programmer: <a href="https://github.com/mirsamantajbakhsh">@mirsamantajbakhsh</a>
                    <br>
                    OnionHarvester-Server programmer: <a href="https://github.com/mohammadnassiri">@mohammadnassiri</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
