body {
    padding-top: 54px;
}

#about{
    background-color: #fafafa;
    padding: 10px;
}

#contact{
    background-color: #fafafa;
    padding: 10px;
}

.fa {
    font-size: 14px !important;
    font-weight: normal !important;
    text-indent: -10px;
}

.text-image img{
    width: 100%;
}

.footer{
    clear: both;
    background-color: #efefef;
    padding: 3px 5px;
    margin-top: 50px;
    text-align: center;
    font-size: 11px;
}

.text-image{
    display: inline-block;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}